django-notifications-hq~=1.8.2
channels~=3.0.2
openwisp-users @ https://github.com/ATMEGA17/ow_users/tarball/master
openwisp-utils @ https://github.com/ATMEGA17/ow_utils/tarball/master
markdown~=3.4.3
